
# Python virtual environment
Include/
Lib/
Scripts/
etc/
sportimages/
mediapipe/share/
mediapipe/Include/
mediapipe/Lib/
mediapipe/Scripts/
mediapipe/pyvenv.cfg
share/
.vscode/
Unidad2/modelo_facial_lbph.xml
Unidad2/videos/
entrenamiento1.h5
sport.h5
sportimages.zip
